@model List<contact.ViewModels.CexchangeRecord>
@{
    ViewBag.Title = "隱形眼鏡B2B交易系統平台";
    Layout = "~/Views/Shared/_Layoutsale.cshtml";
}

<style>

</style>

<div class="container-fluid mt-3 p-5">
    <div class="row">
        <div class="col-12 col-md-6">

            <h2>售後服務申請一覽</h2>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        <div class="row my-5 justify-content-start align-items-center">
            <div class="col-12 col-lg-2 mb-3">

                <select name="choose" class="form-select ">
                    <option value="order">售後服務申請單號</option>
                    <option value="date">申請日期</option>
                </select>
            </div>
            <div class="col-12 col-lg-2  mb-3">
                <input type="text" name="txtKeyword" class="form-control">
            </div>
            <div class="col-12 col-lg-1  mb-3">
                <input type="submit" value="查詢" class=" tomatoclickbtn ">
            </div>
        </div>
        @ViewBag.data
    }


    <div class="container-fluid vh-100">
        <div class="row justify-content-center">
            <table class="table ordertable col-12 col-md-12" style="table-layout:fixed;word-break:break-all;font-size: 0.9rem">
                <tr>

                    <th class="col col-md">申請日期</th>
                    <th class="col col-md">售後服務申請單號</th>
                    <th class="col col-md">售後服務申請狀態</th>
                    <th class="col col-md">售服申請單備註</th>
                    <th class="col-5 col-md-3"></th>
                </tr>
                @{
                    foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.f申請日期</td>
                            <td>@item.f售後服務申請對外Id</td>

                            <td>@item.f換貨申請狀態</td>
                            <td>@item.f換貨備註</td>

                            <td>
                                @Html.ActionLink("查看詳情", "CexchangeDetail", new { id = item.f售後服務申請對外Id }, new { @class = "tomatoaddbtn" })
                            </td>
                        </tr>
                    }
                }


            </table>
        </div>
    </div>
</div>

        @section scripts{
            <script>
                /*這裡是表單HOVER*/
                $(function () {

                    $(".ordertable tr:odd").addClass("orderodd");
                    $(".ordertable tr:even").addClass("ordereven");

                    // 為 class 等於 tomato 的 table元件 的 每一個 row  附加 mouseenter 和 mouseout 事件
                    $(".ordertable tr").hover(
                        function () {
                            $(this).addClass("orderenter"); // 觸發 mouseenter 事件 新增 css
                        },
                        function () {
                            $(this).removeClass("orderenter"); // 觸發 mouseleave 事件 移除 css
                        }
                    );

                    //找到未出貨變色https://blog.csdn.net/qq_42469759/article/details/109183193
                    $('.ordertable tbody').find("tr").each(function () {
                        let bb = $(this).children('td:eq(4)').text();
                        console.log(bb);
                        if (bb == '未出貨') {
                            $(this).children('td:eq(4)').css("color", "red");
                        }

                    });



                });



            </script>

        }

