@model contact.ViewModels.CexchangeRecord
@{
    ViewBag.Title = "CexchangeDetail-換貨--經銷商:換貨詳情管理";
    Layout = "~/Views/Shared/_Layoutsale.cshtml";
}
<style>
    h1 {
        color: gainsboro;
    }
</style>

<div class="container-fluid mt-1 p-5">
    <h1>我是詳情</h1>
    <h4>經銷商：換貨申請詳情</h4>


    <table class="table ordertable col-12 col-md-10" style="font-size: 1.0rem">
        <tr>
            <th>申請日期</th>
            <th>售後服務申請單號</th>
            <th>售後服務申請狀態</th>
            <th>產品名稱</th>
            <th>近視老花度數</th>
            <th>散光度數</th>
            <th>散光角度</th>
            <th>換貨數量</th>
            <th>換貨原因</th>
            <th>換貨備註</th>
            <th></th>
        </tr>

        @{

            <tr>
                <td>@Model.f申請日期</td>
                <td>@Model.f售後服務申請對外Id</td>
                <td>@Model.f換貨申請狀態</td>
                <td>@Model.f產品名稱</td>
                <td>@Model.f近視老花度數</td>
                <td>@Model.f閃光度數</td>
                <td>@Model.f閃光角度</td>
                <td>@Model.f數量</td>
                <td>@Model.f換貨原因</td>
                <td>@Model.f換貨備註</td>
                <td>
                    @Html.ActionLink("取消此單", "CexchangeDelete", new { id = Model.f售後服務申請對外Id }, new { @class = "tomatodangerbtn" })
                </td>
            </tr>


        }


    </table>
</div>

@section scripts{
    <script>

        /*這裡是表單HOVER*/
        $(function () {

            $(".ordertable tr:odd").addClass("orderodd");
            $(".ordertable tr:even").addClass("ordereven");

            // 為 class 等於 tomato 的 table元件 的 每一個 row  附加 mouseenter 和 mouseout 事件
            $(".ordertable tr").hover(
                function () {
                    $(this).addClass("orderenter"); // 觸發 mouseenter 事件 新增 css
                },
                function () {
                    $(this).removeClass("orderenter"); // 觸發 mouseleave 事件 移除 css
                }
            );

            //找到未出貨變色https://blog.csdn.net/qq_42469759/article/details/109183193
            $('.ordertable tbody').find("tr").each(function () {
                let bb = $(this).children('td:eq(3)').text();
                console.log(bb);
                if (bb == '未出貨') {
                    $(this).children('td:eq(3)').css("color", "red");
                }

            });




        });
    </script>

}



@*我的詳情
    <div class="container-fluid mt-1 p-5">
        <h2 class="mb-5">換貨詳情管理</h2>

        <div class="row justify-content-between">
            <div class="col-4">
                訂單單號：123456798
            </div>
            <div class="col-4">
                訂單日期：2021.02.25
            </div>

        </div>
    </div>
    <div class="container-fluid mt-3 p-5">
        <table class="table  table-hover">
            <thead>
                <tr>
                    <th scope="col">序號</th>
                    <th scope="col">商品編號</th>
                    <th scope="col">商品名稱</th>
                    <th scope="col">數量</th>
                    <th scope="col">小計</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>1234567890123456</td>
                    <td>我是商品我的顏色我幾度</td>
                    <td>12345</td>
                    <td>12345656748元</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>1234567890123456</td>
                    <td>我是商品我的顏色我幾度</td>
                    <td>12345</td>
                    <td>12345656748元</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>1234567890123456</td>
                    <td>我是商品我的顏色我幾度</td>
                    <td>12345</td>
                    <td>12345656748元</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>1234567890123456</td>
                    <td>我是商品我的顏色我幾度</td>
                    <td>12345</td>
                    <td>12345656748元</td>
                </tr>

                <tr>
                    <th scope="row" colspan="3"></th>
                    <td class="bg-info text-light text-center">訂單總額</td>
                    <td>12345656748元</td>
                </tr>
            </tbody>

        </table>
        <div class="">
            <label class="text-">
                訂單狀態：未出貨
            </label><br>
            <label>
                備註：
            </label>
        </div>

    </div>


    @section scripts{
        <script></script>

    }*@


