@model contact.ViewModels.CexchangeRecord
@{
    ViewBag.Title = "CexchangeDetail-換貨--經銷商:換貨詳情管理";
    Layout = "~/Views/Shared/_Layoutsale.cshtml";
}

    
<style>
    h1 {
        color: gainsboro;
    }
</style>


<table class="table ordertable col-12 col-md-10" style="font-size: 1.0rem">
    <tr>
        <th>申請日期</th>
        <th>售後服務申請單號</th>
        <th>售後服務申請狀態</th>
        <th>產品名稱</th>
        <th>近視老花度數</th>
        <th>散光度數</th>
        <th>散光角度</th>
        <th>換貨數量</th>
        <th>換貨原因</th>
        <th>換貨備註</th>
    </tr>
    @{
        <tr>
            <td>@Model.f申請日期</td>
            <td>@Model.f售後服務申請對外Id</td>
            <td>@Model.f換貨申請狀態</td>
            <td>@Model.f產品名稱</td>
            <td>@Model.f近視老花度數</td>
            <td>@Model.f閃光度數</td>
            <td>@Model.f閃光角度</td>
            <td>@Model.f數量</td>
            <td>@Model.f換貨原因</td>
            <td>@Model.f換貨備註</td>
           
            <td>
                @Html.ActionLink("取消", "CexchangeDelete", new { id = Model.f售後服務申請對外Id }, new { @class = "tomatodangerbtn" }) |
            </td>
        </tr>
    }
</table>











