@model contact.ViewModels.CexchangeDetailRecord
@{ 
    Layout = "~/Views/Shared/_Layoutsale.cshtml";
}

<h1>換貨管理-新增經銷商換貨紀錄</h1>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">


    <div class="form-group">
        @Html.LabelFor(model => model.f店家名稱, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.f店家名稱, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.f店家名稱, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.f產品名稱, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.f產品名稱, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.f產品名稱, "", new { @class = "text-danger" })
        </div>
    </div>



    規格:
    <div class="form-group">
        @Html.LabelFor(model => model.f近視老花度數, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.f近視老花度數, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.f近視老花度數, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.f閃光度數, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.f閃光度數, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.f閃光度數, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.f閃光角度, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.f閃光角度, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.f閃光角度, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.f換貨數量, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.f換貨數量, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.f換貨數量, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.f小計, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.f小計, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.f小計, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.f換貨總金額, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.f換貨總金額, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.f換貨總金額, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.f換貨原因, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.f換貨原因, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.f換貨原因, "", new { @class = "text-danger" })
        </div>
    </div>
    備註:
    <textArea name="ChangeRemark"></textArea>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="送出" class="btn btn-default" />
        </div>
    </div>
    新增:@Html.ActionLink("新增", "", new { });
    <label>廠商</label>
    @*<select>
        <option>@Model.f店家名稱</option>
    </select>
    <label>選擇品項</label>
    <select>
        <option>@Model.f產品名稱</option>
    </select>
    <label>規格</label>
    <select>
        <option>@Model.f近視老花度數</option>
    </select>
    <select>
        <option>@Model.f閃光度數</option>
    </select>*@
    
       
            @Html.LabelFor(model => model.f換貨單價, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.f換貨單價, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.f換貨單價, "", new { @class = "text-danger" })
            </div>
       
    
</div>

}

