@model contact.ViewModels.CexchangeDetailRecord
@{
    ViewBag.Title = "CexchangeDetail-換貨--經銷商:換貨詳情管理";
    Layout = "~/Views/Shared/_Layoutsale.cshtml";
}
<style>
    h1 {
        color: gainsboro;
    }
</style>
<h4>[權限]經銷商：換貨詳情管理</h4>
<h1>換貨管理</h1>
換貨單號:@Model.f對外訂單單號
日期:@Model.f申請日期
<div>

    <hr />
    <table>
        <tr>
            <th>商品編號</th>
            <th>商品名稱</th>
            <th>數量</th>
            <th>小計</th>
        </tr>
        <tr>
            <td>@Model.f對外產品識別ID</td>
            <td>@Model.f品牌名稱</td>
            <td>@Model.f換貨數量</td>
            <td>@Model.f小計</td>
        </tr>


    </table>
</div>
<p>
    訂單總金額:@Model.f訂單總金額
    換貨狀態:@Model.f換貨申請狀態
    備註:@Model.f訂單備註
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>





我的詳情
<div class="container-fluid mt-1 p-5">
    <h2 class="mb-5">換貨詳情管理</h2>

    <div class="row justify-content-between">
        <div class="col-4">
            訂單單號：123456798
        </div>
        <div class="col-4">
            訂單日期：2021.02.25
        </div>

    </div>
</div>
<div class="container-fluid mt-3 p-5">
    <table class="table  table-hover">
        <thead>
            <tr>
                <th scope="col">序號</th>
                <th scope="col">商品編號</th>
                <th scope="col">商品名稱</th>
                <th scope="col">數量</th>
                <th scope="col">小計</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>1234567890123456</td>
                <td>我是商品我的顏色我幾度</td>
                <td>12345</td>
                <td>12345656748元</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>1234567890123456</td>
                <td>我是商品我的顏色我幾度</td>
                <td>12345</td>
                <td>12345656748元</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>1234567890123456</td>
                <td>我是商品我的顏色我幾度</td>
                <td>12345</td>
                <td>12345656748元</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>1234567890123456</td>
                <td>我是商品我的顏色我幾度</td>
                <td>12345</td>
                <td>12345656748元</td>
            </tr>

            <tr>
                <th scope="row" colspan="3"></th>
                <td class="bg-info text-light text-center">訂單總額</td>
                <td>12345656748元</td>
            </tr>
        </tbody>

    </table>
    <div class="">
        <label class="text-">
            訂單狀態：未出貨
        </label><br>
        <label>
            備註：
        </label>
    </div>

</div>


@section scripts{
    <script></script>

}


