@model contact.ViewModels.CexchangeRecord
@{
    ViewBag.Title = "Mexchange-換貨--經銷商換貨申請";

}

<style>
    h1 {
        color: gainsboro;
    }
</style>


<h4>盤商換貨申請詳情</h4>


<table class="table ordertable col-12 col-md-10" style="font-size: 1.0rem">
    <tr>
        <th>申請日期</th>
        <th>售後服務申請單號</th>
        <th>申請人</th>
        <th>售後服務申請狀態</th>
        @*<th>產品對外產品識別ID</th>*@
        <th>產品名稱</th>
        <th>換貨數量</th>
        @*<th>經銷商聯絡電話</th>
            <th>經銷商地址</th>*@
        <th>換貨原因</th>
        <th>換貨備註</th>
    </tr>
    @{

        <tr>
            <td>@Model.f申請日期</td>
            <td>@Model.f售後服務申請對外Id</td>
            <td>@Model.f換貨申請人</td>
            <td>@Model.f換貨申請狀態</td>
            @*<td>@Model.f對外產品識別ID</td>*@
            <td>@Model.f產品名稱</td>
            <td>@Model.f數量</td>
            @*<td>@Model.f店家連絡電話</td>
                <td>@Model.f地址</td>*@
            <td>@Model.f換貨原因</td>
            <td>@Model.f換貨備註</td>

        </tr>


    }
</table>






