@model contact.ViewModels.MOderDetailRecord

@{
    ViewBag.Title = "MOderDetail-歷史訂單一覽[權限:盤商]";
}
<style>
    h1 {
        color: gainsboro;
    }
</style>

<h1>訂單管理</h1>

訂單日期:@Model.f訂購日期
訂單單號:@Model.f對外訂單單號
付款狀態:@Model.f付款狀態
訂單狀態:@Model.f訂單狀態
訂單需求:@Model.f訂單需求
<div>
    經銷商名稱:@Model.f店家名稱
    連絡電話:@Model.f店家連絡電話
    聯絡地址:@Model.f地址
</div>
<table class="table">
    <tr>
        <th>商品編號</th>
        <th>商品</th>
        <th>數量</th>
        <th>小計</th>

    </tr>

    <tr>
        <td>
            @Model.f對外訂單單號
        </td>
        <td>
            @Model.f產品名稱
        </td>
        <td>
            @Model.f訂購數量
        </td>
        <td>
            @Model.f小計
        </td>
    </tr>

</table>

總價:@Model.f訂單總金額
備註:@Model.f訂單備註
@Html.ActionLink("修改", "", new { id = Model.f對外產品識別ID })
<form>
    <label>商品名稱:</label>
    <input type="text" />
    <label>單價:</label>
    <input type="text" />
    <label>數量:</label>
    <input type="number" />
    <input type="submit" value="確認修改" />
</form>
@Html.ActionLink("前往出貨管理", "Mshipping", new { })
@Html.ActionLink("刪除此訂單", "MOderDetailDelete", new { id = Model.f對外訂單單號 })



@*版型從這裡開始*@

<!--

<div class="container-fluid mt-1 p-5">
    <h2 class="mb-5">訂單詳情</h2>


    <div class="row justify-content-between">
        <div class="col-4">
            訂單單號：123456798
        </div>
        <div class="col-4">
            訂單日期：2021.02.25
        </div>-->
        <!-- 下面如果不包在<div class="row"></div> 就會變成滿版色塊 -->
        <!--<div class="row align-items-center">

            <div class="col-4 ">

                <label>
                    訂單狀態：未出貨
                </label><br>
                <label>
                    付款狀態：信用卡已付款
                </label><br>
                <label>訂單需求：客需/補庫存</label>


            </div>

            <div class="col-4 ">

                <div class=" pl-3 border border-primary rounded ">

                    <label>經銷商：***</label></br>
                    <label>電話：</label><p class="d-inline">09123456789</p></br>
                    <label>地址：</label><p class="d-inline">台南市巴拉巴拉拉拉拉拉拉拉</p>
                </div>
            </div>


            <div class="col-4">

            </div>
        </div>
    </div>
</div>



<div class="container-fluid mt-3 p-5">
    <table class="table  table-hover">
        <thead>
            <tr>
                <th scope="col">序號</th>
                <th scope="col">商品編號</th>
                <th scope="col">商品名稱</th>
                <th scope="col">數量</th>
                <th scope="col">小計</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>1234567890123456</td>
                <td>我是商品我的顏色我幾度</td>
                <td>12345</td>
                <td>12345656748元</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>1234567890123456</td>
                <td>我是商品我的顏色我幾度</td>
                <td>12345</td>
                <td>12345656748元</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>1234567890123456</td>
                <td>我是商品我的顏色我幾度</td>
                <td>12345</td>
                <td>12345656748元</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>1234567890123456</td>
                <td>我是商品我的顏色我幾度</td>
                <td>12345</td>
                <td>12345656748元</td>
            </tr>

            <tr>
                <th scope="row" colspan="3"></th>
                <td class="bg-info text-light text-center">訂單總額</td>
                <td>12345656748元</td>
            </tr>
        </tbody>

    </table>

    <button type="button" class="btn btn-outline-dark btn-sm float-right mt-3">再買一次</button>
</div>

@section scripts{
    <script></script>

}-->








