@model contact.Models.t店家

@{
    ViewBag.Title = "隱形眼鏡B2B交易系統平台";
}

@section styles{

    <style>


        form .item:hover {
            transform: scale(2);
            transition-duration: 0.5s;
            border-radius: 10px;
        }

        .tomatoborder {
            border-radius: 10px;
            background-color: #f8f8f8;
            border-bottom: 2px solid #ca9c8f;
            border-top: 2px solid #ca9c8f;
            padding: 16px;
            margin: 0 32px 32px 32px;
        }

        textarea {
            display: block;
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .pink {
            border-radius: 25px 25px;
            background-image: linear-gradient(to top, #fcbfc1 0%, #ee7d7d 50%);
        }
    </style>

}



@section scripts{
    <script>
        var myStatusValue;
        function statusChange() {
            var Dstatus = document.getElementById('Dstatus');
            myStatusValue = Dstatus.options[Dstatus.selectedIndex].value;
            var theTxt = document.getElementById('txt');
            theTxt.value = myStatusValue;

        }

        @*var url = @(Url.Content("~/images/"))

        $(function () {
            var pic2 = $('.pic2').val;
            alert(
                $(".pic2").val());
        const showpic2 = $('#showpic2');
        console.log(typeof(pic2));
            const s = url  + pic2 ;
           /* showpic2.src = s;*/
        });*@






    </script>
}


@{
    string iBusiness = "";
    iBusiness += Url.Content("~/images/iBusinessLicense/");
    iBusiness += Model.f營業登記許可照片路徑;


    string iMedical = "";
    iMedical += Url.Content("~/images/iMedicalLicense/");
    iMedical += Model.f藥商許可證照片路徑;


}

<div class="container my-5">
    <div class="row justify-content-center align-content-center">
        <div class="col-12 col-md-12">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h2>經銷商維護</h2>
                    <hr />

                    <fieldset class="float-lg-end col-md-6 col-12 tomatoborder d-flex justify-content-center align-content-center">
                        <div class="form-group ">
                            營業登記證/藥商許可證
                            <div class="col-md-6 pink">
                                <div class="item h-100 text-center ">
                                    <img src="@iBusiness" alt="Alternate Text" id="" class="W-100 " height="300" />
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="item h-100 text-center pink">
                                    <img src="@iMedical" alt="Alternate Text" id="" class="W-100 " height="300" />
                                </div>
                            </div>
                        </div>
                    </fieldset>


                    <fieldset class="tomatoborder col-md-5 col-12">
                        <div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.f店家ID)
                        </div>

                        <div class="form-group">
                            經銷商名稱
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.f店家名稱, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.f店家名稱, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            負責人
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.f店家負責人, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.f店家負責人, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            連絡電話
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.f店家連絡電話, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.f店家連絡電話, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            地址
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.f地址, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.f地址, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            電子信箱
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.f電子信箱, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.f電子信箱, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            密碼
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.f密碼, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.f密碼, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            註冊日期
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.f註冊日期, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.f註冊日期, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            往來狀態
                            <div class="col-md-6">
                                <select onclick="statusChange()" id="Dstatus" class="form-control">
                                    <option>交易中</option>
                                    <option>非活躍</option>
                                    <option>黑名單</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.f往來狀態, new { htmlAttributes = new { @class = "form-control", @id = "txt" } })
                                @Html.ValidationMessageFor(model => model.f往來狀態, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            帳款資訊
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.f銀行帳號, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.f銀行帳號, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group" hidden>
                            @Html.LabelFor(model => model.f藥商許可證照片路徑, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.f藥商許可證照片路徑, new { htmlAttributes = new { @class = "form-control " } })
                                @Html.ValidationMessageFor(model => model.f藥商許可證照片路徑, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" hidden>
                            @Html.LabelFor(model => model.f營業登記許可照片路徑, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.f營業登記許可照片路徑, new { htmlAttributes = new { @class = "form-control pic2" } })

                            </div>
                            @Html.ValidationMessageFor(model => model.f營業登記許可照片路徑, "", new { @class = "text-danger" })
                        </div>


                    </fieldset>
                </div>



                <fieldset class="tomatoborder ">
                    <div class="form-group col-md-12 col-12">
                        備註
                        <div class="">
                            @Html.TextAreaFor(model => model.f備註, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.f備註, "", new { @class = "text-danger" })
                        </div>
                    </div>




                    <div class="form-group">
                        <div class="col-md-4 col-12 col-md-4 mt-5 float-end">
                            <input type="submit" value="修改" class="btn btn-lg w-100 bg-secondary text-light" onclick="return (confirm('資料修改成功'))" />
                        </div>
                    </div>
                </fieldset>

            }
        </div>


        <div>
            @Html.ActionLink("返回經銷商管理列表", "customer")
        </div>
    </div>
</div>