@model IEnumerable<contact.Models.t店家>

@{
    ViewBag.Title = "customer";
}


@section styles{

    <style>
        .tomatotable {
            border-bottom: 2px solid rgb(166, 192, 241);
            font-size: 1.4rem;
            color: #666;
        }

        tr {
            border-bottom: 2px solid pink;
        }

        th {
            font-size: 1.5rem;
            color: #666666;
        }

        /*表單CSS*/
        .tomatotable th, .tomatotable td {
            text-align: center;
        }

        .odd {
            background-color: rgb(238 182 182 / 0.31);
        }

        .even {
            background-color: #F8F8F8;
        }

        .enter {
            background-color: #d6b6c3;
            transition-property: background-color color;
            transition-duration: 1s;
        }
        /*表單CSS end*/


        /* 搜尋 方型BTN */
        .tomatoclickbtn {
            -webkit-box-shadow: 0px 1px 3px #666666;
            -moz-box-shadow: 0px 1px 3px #666666;
            box-shadow: 0px 1px 3px #666666;
            font-family: Arial;
            color: #ffffff;
            font-size: 18px;
            background: #ff8a8a;
            padding: 5px 10px 5px 10px;
            border: double #ffffff 4px;
            text-decoration: none;
        }

            .tomatoclickbtn:hover {
                background: #eb6767;
                text-decoration: none;
                color: #ffffff;
            }





        /* 詳情按鈕     */
        .tomatobtn {
            -webkit-border-radius: 35px;
            -moz-border-radius: 35px;
            border-radius: 35px;
            font-family: Arial;
            color: #ffffff;
            font-size: 18px;
            background: #d6b6c3;
            padding: 5px 10px 5px 10px;
            border: dotted #fafafa 2px;
            text-decoration: none;
        }

            .tomatobtn:hover {
                background: #d6b6c3;
                background-image: -webkit-linear-gradient(top, #d6b6c3, #f0a3c6);
                background-image: -moz-linear-gradient(top, #d6b6c3, #f0a3c6);
                background-image: linear-gradient(to bottom, #d6b6c3, #f0a3c6);
                text-decoration: none;
                color: #ffffff;
            }

        /* 刪除按鈕 */
        .tomatodangerbtn {
            -webkit-border-radius: 35px;
            -moz-border-radius: 35px;
            border-radius: 35px;
            font-family: Arial;
            color: #f0b0aa;
            font-size: 18px;
            background: #e8546f;
            padding: 5px 10px 5px 10px;
            border: dotted #e6e6e6 2px;
            text-decoration: none;
        }

            .tomatodangerbtn:hover {
                background: #a12747;
                text-decoration: none;
                color: #ffffff;
            }

        /* 新增按鈕 */
        .tomatoaddbtn {
            -webkit-border-radius: 35px;
            -moz-border-radius: 35px;
            border-radius: 35px;
            font-family: Arial;
            color: #ffffff;
            font-size: 18px;
            background: #debd85;
            padding: 5px 10px 5px 10px;
            border: dotted #ffffff 2px;
            text-decoration: none;
        }

            .tomatoaddbtn:hover {
                background: #ba9458;
                text-decoration: none;
                color: #ffffff;
            }



        /* .btn:focus {
            border-color: #28a745;
            box-shadow: 0 0 0 0.2rem rgb(255 87 87 / 0.5);
        }*/

    </style>

}

@section scripts{


    <script>
        //找到未出貨變色https://blog.csdn.net/qq_42469759/article/details/109183193
        $('.tomatotable tbody').find("tr").each(function () {
            let bb = $(this).children('td:eq(4)').text();
            console.log(bb);
            if (bb == '黑名單') {
                $(this).children('td:eq(4)').css("color", "red");
            }

        });

        /*這裡是表單HOVER*/
        $(function () {

            $(".tomatotable tr:odd").addClass("odd");
            $(".tomatotable tr:even").addClass("even");

            // 為 class 等於 tomatotable 的 table元件 的 每一個 row  附加 mouseenter 和 mouseout 事件
            $(".tomatotable tr").hover(
                function () {
                    $(this).addClass("enter"); // 觸發 mouseenter 事件 新增 css
                },
                function () {
                    $(this).removeClass("enter"); // 觸發 mouseleave 事件 移除 css
                }
            );

        });
        /*這裡是表單HOVER end*/


        function strchange() {
            var mypick = document.getElementById('mpick');
            var pickValue = mypick.selectedIndex;
            console.log(pickValue);
        }
        function backto() {
            var txt = document.getElementById('txtKeyword');
            txt.value = "";
        }
    </script>


}

<div class="container mt-5">

    <div class="row">
        <div class="col-12 col-md-6">

            <h2>經銷商會員管理</h2>
        </div>
    </div>
    <div class="row  my-5 justify-content-start align-items-center ">

        @using (Html.BeginForm())
        {

            <div class="col-12 col-lg-2  mb-3 float-lg-start">

                <select id="mpick" onchange="strchange()" name="mpick" class="form-select">
                    <option>選擇搜尋關鍵字</option>
                    <option value="店家名稱" name="店家名稱">店家名稱</option>
                    <option value="電話" name="電話">電話</option>
                    <option value="往來狀態" name="往來狀態">往來狀態</option>
                </select>
            </div>

            <div class="col-12 col-lg-2  mb-3 float-lg-start">
                <input type="text" name="txtKeyword" class="form-control" />
            </div>




            <div class="col-4 col-lg-1 ms-3 mb-3 float-lg-start">
                <input type="submit" value="查詢" onclick="keyWorld()" id="keyWorld" class="btn tomatoclickbtn" />

            </div>
            <div class="col-4 col-lg-1 ms-3  mb-3 float-lg-start">

                <input type="submit" value="返回" class="tomatoclickbtn " onclick="backto()" />
            </div>



        }

    </div>


    <table class="col-12 col-md-10 table tomatotable table-hover">
        <tr>
            <th>名稱</th>
            <th>負責人</th>
            <th>電話</th>
            <th>地址</th>
            <th>往來狀態</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.f店家名稱)</td>
                <td>@Html.DisplayFor(modelItem => item.f店家負責人)</td>
                <td>@Html.DisplayFor(modelItem => item.f店家連絡電話)</td>
                <td>@Html.DisplayFor(modelItem => item.f地址)</td>
                <td>@Html.DisplayFor(modelItem => item.f往來狀態)</td>

                <td>
                    @Html.ActionLink("詳情", "CusEdit", new { id = item.f店家ID }, new { @class = "btn tomatobtn" })
                    @*@Html.ActionLink("刪除", "CusDelete", new { id = item.f店家ID }, new { onclick = "return confirm('是否確定刪除?')", @class = "btn tomatodangerbtn" })*@
                    <a href="/CManager/CusDelete/@item.f店家ID" onclick="return confirm('是否確定刪除?')" class=" btn tomatodangerbtn"><i class="bi bi-trash"></i>刪除</a>
                </td>
            </tr>
        }

    </table>


</div>