
@model IEnumerable<contact.Models.CShoppingCartItem>
@{
    ViewBag.Title = "CheckOut";
}
@{
    Layout = "~/Views/Shared/_Layoutsale.cshtml";
}

@section styles{

    <style>
    </style>
}

<div class="container-fluid mt-3">
    <h2 class="row justify-content-center">結帳</h2>
</div>
<hr />
<div>
    <label>訂購品項</label>
</div>

<div class="container-fluid">
    <table class="table">
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.品牌名稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.產品名稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.產品顏色)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.近視度數)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.散光度數)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.散光角度)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.數量)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.單價)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.小計)
            </th>
            <th></th>
        </tr>

        @{
            decimal tempTotal = 0;
            foreach (var item in Model)
            {
                tempTotal += item.小計;
                <tr>
                    <td>
                        <input type="hidden" name="txtFid" value="@Model.FirstOrDefault().Product.f產品ID" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.品牌名稱)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.產品名稱)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.產品顏色)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.近視度數)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.散光度數)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.散光角度)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.數量)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.單價)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.小計)
                    </td>
                </tr>
            }
            <tr>
                <td>總價</td>
                <td>
                    <p>@tempTotal.ToString()</p><p>元</p>
                </td>
            </tr>
        }

    </table>
</div>

<form action="/CCustomer/CheckOut" method="POST">
    <div class="container-fluid">
        <label>訂購人資訊</label>
    </div>
    <div class="row container-fluid col-8 m-3">
        <div class="border border-primary rounded ">
            <div>
                <p>
                    <input type="checkbox" id="sameWithAccount" value="與會員資料相同" />
                    <label for="cbox1">與會員資料相同</label>
                </p>
                <p>
                    訂購人：
                    <input type="text" name="f訂購人" class="" placeholder="請輸入訂購人姓名" id="f訂購人" />
                </p>
                <p>
                    連絡電話：
                    <input type="text" name="f連絡電話" class="" placeholder="請輸入連絡電話" id="f連絡電話" />
                </p>
                <p>
                    寄送地址：
                    <input type="text" name="f寄送地址" class="" placeholder="請輸入寄送地址" id="f寄送地址" />
                </p>
                <p>
                    電子信箱：
                    <input type="text" name="f訂購人信箱" class="" placeholder="請輸入電子信箱" id="f訂購人信箱" />
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <label>付款資訊</label>
    </div>
    <div class="row container-fluid col-8 m-3">
        <div class="border border-primary rounded">
            <p>
                <label class="my-3">訂單需求</label>
                <select id="orderDemand" name="f訂單需求">
                    <option selected disabled>請選擇訂單需求</option>
                    <option>客需</option>
                    <option>庫存</option>
                    <option>其他</option>
                </select>
            </p>
            <label class="my-3">付款方式：</label>
            <select id="payment" name="f付款方式">
                <option selected disabled>請選擇付款方式</option>
                <option>銀行轉帳</option>
                <option>線上刷卡</option>
                <option>現金支付</option>
            </select>
            <input type="hidden" name="f訂單總金額" value=@tempTotal.ToString() />
            <input type="hidden" name="f付款狀態" value="未付款" />
            <input type="hidden" name="f配送狀態" value="未出貨" />
            <input type="hidden" name="f訂單狀態" value="未完成" />
            <input type="hidden" name="f訂購日期" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </div>
    </div>
    <div class="container-fluid">
        <label>備註</label>
    </div>
    <div class="row container-fluid col-8 m-3">
        <div class="border border-primary rounded">
            <textarea name="f訂單備註" class="col-8"></textarea>
        </div>
    </div>
    <input type="submit" value="確認結帳" id="checkoutSubmit" />
</form>





@section scripts{
    <script>
        const autoFillin = document.querySelector('#sameWithAccount');
        const accName = document.getElementById("f訂購人");
        const accMobile = document.getElementById("f連絡電話");
        const accAddress = document.getElementById("f寄送地址");
        const accEmail = document.getElementById("f訂購人信箱");
        autoFillin.addEventListener('change', function () {
            if (this.checked) {
                //console.log("Checkbox is checked..");
                const xhr = new XMLHttpRequest();

                xhr.addEventListener("load", function () {
                    const data = JSON.parse(xhr.responseText);
                    accName.value = data.f訂購人;
                    accMobile.value = data.f連絡電話;
                    accAddress.value = data.f寄送地址;
                    accEmail.value = data.f訂購人信箱;
                });

                xhr.open("GET", "@Url.Content("~/CCustomer/getCookie")");
                xhr.send();
            } else {
                //console.log("Checkbox is not checked..");
                accName.value = '';
                accMobile.value = '';
                accAddress.value = '';
                accEmail.value = '';
            }
        });
    </script>
}

