@model contact.Models.t優惠活動

@{
    ViewBag.Title = "隱形眼鏡B2B交易系統平台";
}


<div class="container my-5">
    <div class="row">

        <h2>新增活動</h2>
        <hr />


        @using (Html.BeginForm("ActivityCreate", "CDiscount", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()


            <div class="form-horizontal">

                <fieldset class=" float-lg-end col-md-6  tomatoborder">


                    <label for="inputFile" class="">選擇活動照片</label>
                    <input type="file" class="form-control-file" name="photo" id="fileid" accept="image/*">
                    <img src="" class="img-thumbnail w-100 " id="img1" />


                </fieldset>


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <fieldset class="col-md-5  tomatoborder">

                    <div class="form-group">
                        活動名稱
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.f活動名稱, new { htmlAttributes = new { @class = "form-control", @maxlength = "80" } })
                            @Html.ValidationMessageFor(model => model.f活動名稱, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        活動起始日
                        @*@Html.LabelFor(model => model.f活動起始日, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.f活動起始日, new { htmlAttributes = new { @class = "form-control"} })
                            @Html.ValidationMessageFor(model => model.f活動起始日, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        活動結束日
                        @*@Html.LabelFor(model => model.f活動結束日, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.f活動結束日, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.f活動結束日, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        活動詳情
                        <div class="col-md-10">
                            <textarea cols="20" class = "form-control"  htmlattributes="{ class = form-control }" id="f____" name="f活動詳情" rows="2" maxlength = "80" ></textarea>
                            @*@Html.TextAreaFor(model => model.f活動詳情, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.f活動詳情, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-12 col-md-4 mt-5 float-end">
                            <input type="submit" value="新增" class="btn btn-lg w-100 bg-secondary text-light" />
                        </div>
                    </div>
                </fieldset>

            </div>
        }



        <div>
            @Html.ActionLink("回活動一覽頁", "MDiscountActivity")
        </div>

    </div>
</div>

@section Scripts {
    <script>
        const theFile = document.querySelector('#fileid');
        const theImg = document.querySelector('#img1')

        theFile.addEventListener("change", function () {
            //預覽圖片 FileReader .png、.jpeg..
            //regular expression

            const file = theFile.files[0]
            //todo 判斷檔案是不是圖，可以用regular expression
            const reader = new FileReader();
            reader.addEventListener("load", function () {
                theImg.src = this.result;
            })
            reader.readAsDataURL(file);
        })
    </script>
}
