@model contact.Models.t優惠活動

@{
    ViewBag.Title = "ActivityCreate";
}

<h2>ActivityCreate</h2>


@using (Html.BeginForm("ActivityCreate", "CDiscount", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset class=" float-end col-md-6">


        <label for="inputFile" class="">選擇活動照片</label>
        <input type="file" class="form-control-file" name="photo" id="fileid" accept="image/*">
        <img src="" class="img-thumbnail w-50 " id="img1" />


    </fieldset>
    <div class="form-horizontal">
        <h4>新增活動</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            活動名稱
            <div class="col-md-10">
                @Html.EditorFor(model => model.f活動名稱, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.f活動名稱, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            活動詳情
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.f活動詳情, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.f活動詳情, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.f活動起始日, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.f活動起始日, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.f活動起始日, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.f活動結束日, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.f活動結束日, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.f活動結束日, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="新增" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("回活動一覽頁", "MDiscountActivity")
</div>

@section Scripts {

}