@model contact.Models.t優惠活動

@{
    ViewBag.Title = "隱形眼鏡B2B交易系統平台";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section styles{
    <style>


        .tomatoborder {
            border-radius: 10px;
            background-color: #f8f8f8;
            border-bottom: 2px solid #ca9c8f;
            border-top: 2px solid #ca9c8f;
            padding: 16px;
            margin: 0 32px 32px 32px;
        }


        textarea {
            display: block;
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    </style>


}



@section scripts{
    <script>
        /* 圖片預覽功能*/
        const theFile = document.querySelector('#fileid');
        const theImg = document.querySelector('#img1')

        theFile.addEventListener("change", function () {
            //預覽圖片 FileReader .png、.jpeg..
            //regular expression

            const file = theFile.files[0]
            //todo 判斷檔案是不是圖，可以用regular expression
            const reader = new FileReader();
            reader.addEventListener("load", function () {
                theImg.src = this.result;
            })
            reader.readAsDataURL(file);
        })


        /* 測試快速新增活動 成功*/
        //https://www.itread01.com/content/1550257936.html


        function addDiscount() {
            document.myform.action = "/CDiscount/ActivityCreate";
            document.myform.submit();
        }



        function words_deal() {
            var curLength = $("#txtb").val().length;
            if (curLength > 80) {
                var num = $("#txtb").val().substr(0, 80);
                $("#txtb").val(num);
                alert("超過80字數限制，多出的字將被移除！");
            } else {
               /* $("#textCount").text(80 - $("#txtb").val().length);*/
            }
        }










    </script>
}



<div class="container my-5">
    <div class="row">

        <h4>活動修改</h4>
        <hr />

        <div class="col-12 col-md-12">
            @*@using (Html.BeginForm())*@


            @*應該需要+("ActivityEdit", "CDiscount", FormMethod.Post, new { enctype = "multipart/form-data" }才能修改上傳圖片 tomato*@

            @using (Html.BeginForm("ActivityEdit", "CDiscount", FormMethod.Post, new { enctype = "multipart/form-data", name = "myform" }))
            {

                @Html.AntiForgeryToken()


                <fieldset class=" float-lg-end col-md-6  tomatoborder">
                    <legend class="family">照片修改</legend>



                    <label for="inputFile" class="">選擇活動照片</label>
                    <input type="file" class="form-control-file" name="photo" id="fileid" accept="image/*">
                    <img src="" class="img-thumbnail w-100 " id="img1" />



                </fieldset>
                <fieldset class="col-md-5  tomatoborder">
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.f優惠活動ID)

                        <div class="form-group">
                            活動名稱
                            @*@Html.LabelFor(model => model.f活動名稱, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.f活動名稱, new { htmlAttributes = new { @class = "form-control", @maxlength = "80" } })
                                @Html.ValidationMessageFor(model => model.f活動名稱, "", new { @class = "text-danger" })
                            </div>
                        </div>





                        <div class="form-group">
                            活動起始日
                            @*@Html.LabelFor(model => model.f活動起始日, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.f活動起始日, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.f活動起始日, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            活動結束日
                            @*@Html.LabelFor(model => model.f活動結束日, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.f活動結束日, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.f活動結束日, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            活動詳情
                            @*@Html.LabelFor(model => model.f活動詳情, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.f活動詳情, new { htmlAttributes = new { @class = "form-control", @id = "txtb",onkeyup="words_deal();" } })
                                @*@Html.EditorFor(model => model.f活動詳情, new { htmlAttributes = new { @class = "form-control", @maxlength = "80" } })*@
                                @Html.ValidationMessageFor(model => model.f活動詳情, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        @*活動照片檔名不用顯示*@
                        <div class="form-group" hidden>

                            @*@Html.LabelFor(model => model.f活動照片路徑, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.f活動照片路徑, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.f活動照片路徑, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-12 col-md-4 mt-5">
                                <input type="submit" value="確認修改" class="btn btn-lg w-100 bg-secondary text-light" />

                                <input type="button" name="btn2" value="快速新增" onclick="addDiscount();" class="btn btn-lg w-100 bg-info text-light" />

                            </div>
                        </div>
                    </div>
                </fieldset>




            }
        </div>
        <div>
            @Html.ActionLink("返回折扣一覽表", "MDiscountActivity")
        </div>
    </div>
</div>

