@model IEnumerable<contact.Models.t產品>

@{
    ViewBag.Title = "List";
}

@{
    Layout = "~/Views/Shared/_Layoutsale.cshtml";
}

@section styles{

    <style>
        body {
            background-color: #fd929249;
        }


        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            /* border:  solid #838383 5px; */
            border-radius: 1rem;
        }

        .cardtomato {
            border: 0px;
        }

        /* 讓card裡照片滿版 */
        .tomato-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-bottom-left-radius: 1rem !important;
            border-top-left-radius: 1rem !important;
        }

        /* 錢 */
        .momey::after {
            content: ' 元';
        }

        /* 錢 */
        .momey::before {
            content: '價格: ';
        }

        /* 照片降明度 */
        .card img:hover {
            filter: brightness(.5);
        }



        /* 刪除按鈕 */
        .tomatodangerbtn {
            border-radius: 35px;
            font-family: jf-openhuninn;
            color: #f0b0aa;
            font-size: 18px;
            background: #e8546f;
            padding: 5px 10px 5px 10px;
            border: dotted #e6e6e6 2px;
            text-decoration: none;
        }

            .tomatodangerbtn:hover {
                background: #a12747;
                text-decoration: none;
                color: #ffffff;
            }


        /* 搜尋 方型BTN */
        .tomatoclickbtn {
            -webkit-box-shadow: 0px 1px 3px #666666;
            -moz-box-shadow: 0px 1px 3px #666666;
            box-shadow: 0px 1px 3px #666666;
            font-family: Arial;
            color: #ffffff;
            font-size: 18px;
            background: #ff8a8a;
            padding: 5px 10px 5px 10px;
            border: double #ffffff 4px;
            text-decoration: none;
        }

            .tomatoclickbtn:hover {
                background: #eb6767;
                text-decoration: none;
                color: #ffffff;
            }


        /* 詳情按鈕     */
        .tomatobtn {
            border-radius: 35px;
            font-family: Arial;
            color: #ffffff;
            font-size: 18px;
            background: #d6b6c3;
            padding: 5px 10px 5px 10px;
            border: dotted #fafafa 2px;
            text-decoration: none;
        }

            .tomatobtn:hover {
                background: #d6b6c3;
                background-image: linear-gradient(to bottom, #d6b6c3, #f0a3c6);
                text-decoration: none;
                color: #ffffff;
            }

        /* 加入購物車 */
        .tomatocartbtn {
            -webkit-border-radius: 35px;
            -moz-border-radius: 35px;
            border-radius: 35px;
            font-family: Arial;
            color: #ffffff;
            font-size: 18px;
            background: #eba68d;
            padding: 5px 10px 5px 10px;
            border: dotted #ffffff 2px;
            text-decoration: none;
        }

            .tomatocartbtn:hover {
                background: #cc8b74;
                text-decoration: none;
                color: #ffffff;
            }

        .gotoCheck {
            position: fixed;
            bottom: 100px;
            right: 50px;
            z-index: 9999;
        }
    </style>

}



<!-- 輪播開始  -->
@*<div class="container-fluid ">
    <div class="row col-lg-12">*@
<section id="lokiSlider" class="carousel slide carousel-fade w-100" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#lokiSlider" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#lokiSlider" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#lokiSlider" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#lokiSlider" data-bs-slide-to="3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://picsum.photos/1920/500/?random=1" class="d-block w-100">
            <div class="carousel-caption  d-md-block ">
                <h5>通膨退散!!!大讓利!!!</h5>
                <p class="d-none d-md-block"> 這一波一定要把握!4/30前 某某品牌買100送10這一波一定要把握!4/30前 某某品牌買100送10這一波一定要把握!4/30前 某某品牌買100送10這一波一定要把握!4/30前 某某品牌買100送10這一波一定要把握!4/30前 某某品牌買100送10這一波一定要把握!4/30前 某某品牌買100送10這一波一定要把握!4/30前 某某品牌買100送10這一波一定要把握!4/30前 某某品牌買100送10</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/1920/500/?random=2" class="d-block w-100">
            <div class="carousel-caption  d-md-block">
                <h5>一二三四五六七八九十一二三四五六</h5>
                <p class="d-none d-md-block">夏日特賣會 某某超涵氧隱形眼鏡現正促銷中</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/1920/500/?random=3" class="d-block w-100">
            <div class="carousel-caption  d-md-block">
                <h5>你說打折我就打折!夏日特賣會</h5>
                <p class="d-none d-md-block">年度累積會員消費金額至300萬折讓多少多少</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/1920/500/?random=4" class="d-block w-100">
            <div class="carousel-caption  d-md-block">
                <h5>你生息 我降利</h5>
                <p class="d-none d-md-block">快來買呀</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#lokiSlider" data-bs-slide="prev">
        <i class="fas fa-angle-double-left fa-2x"></i>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#lokiSlider" data-bs-slide="next">
        <i class="fas fa-angle-double-right fa-2x"></i>
    </button>
</section>
@*</div>
    </div>*@
<!-- 輪播end   -->




<div class="container-fluid mt-5">
    <!-- 這裡是搜尋BAR -->


    @using (Html.BeginForm())
    {
        <div class="row my-5 justify-content-start align-items-baseline text-center">

            <div class="col-12 col-md-2  mb-3 ">
                <input type="text" name="txtKeyword" class="form-control" placeholder="請輸入關鍵字搜尋" />
            </div>
            <div class="col-4 col-md-1  mb-3 ">
                <input type="submit" value="查詢" class="tomatoclickbtn " />
            </div>

        </div>
    }


</div>




<!-- 這裡是搜尋BARend -->
<!-- 水平線 -->
<hr class="tomatolower mx-auto col-12 col-xl-10 ">



<div class="gotoCheck">
    @Html.ActionLink("去結帳", "../CCustomer/CheckOut", new { }, new { @class = "btn btn-dark" })
</div>


<div class="container mt-3">

    <div class="row  row-cols-lg-2 align-items-stretch">

        @foreach (var item in Model)
        {
            <div class="col-12 col-md-6 ">
                <div class="card cardtomato mb-5 mx-2">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="~/images/@item.f產品圖片路徑" class="img-fluid  tomato-img " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.f品牌名稱)</h5>
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.f產品名稱)</h5>
                                <p class="card-text momey">@Html.DisplayFor(modelItem => item.f售價)</p>
                                <p class="card-text">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </p>
                                
                                <div class="float-end mb-2">


                                    <a href="/Shopping/Detail/@item.f產品ID" class="tomatobtn" id="@item.f產品ID">商品詳情</a>

                                    <a href="/Shopping/Cart/@item.f產品ID" class="tomatocartbtn">加入購物車 <i class="bi bi-basket2-fill"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






        }

    </div>
</div>

@*<img src="~/images/@item.f產品圖片路徑" width="180" height="180" style="object-fit:cover" />

    <h4>@Html.DisplayFor(modelItem => item.f品牌名稱)</h4>

    <h4>@Html.DisplayFor(modelItem => item.f產品名稱)</h4>

    @Html.DisplayFor(modelItem => item.f售價)




    @Html.ActionLink("商品詳情", "Detail", new { id = item.f產品ID })
    @Html.ActionLink("加入購物車", "Cart", new { id = item.f產品ID })*@

